<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gym Manager</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <div class="links">
                <a href="/">Instructors</a>
                <a href="/members">Members</a>
            </div>

            {% block content %}

            {% endblock%}
            </header>
        </body>
    </html>